[Unit]
Description=Dask scheduler

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/
ExecStart=/usr/local/bin/dask worker tcp://{{ scheduler_ip }}:8786
ExecStop=/bin/kill "$MAINPID"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

